/* ORDER CSS ELEMENTS ALPHABETICALLY (please)
    Otherwise, store under 'OTHER' */
/* A */


/* B */
.border_Related {
    margin: 5px;
    width: 90%;
    border : solid 2px black;
    background-color: lightgray;
}
.button-label {
    margin-left: 6px;
}

/* C */
.column {
    /* height: 90vh; */
    padding-left: 6px;
    padding-right: 6px;
}

.comments_Guide {
    width: 100%;
    font-size: 14pt;
}

/* D */


/* E */


/* F */
.feed {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.feed_page {
    background-color: #f6fdff;
}

/* G */


/* H */


/* I */
.icon {
    font-size: 1.5rem;
}

.img_Guide {
    width : 23vw
}

.img_Related {
    width : 15vw
}

.instruc_Header {
    margin-top: 30px;
    align-content: center;
    align-self: center;
}

/* J */


/* K */


/* L */


/* M */


/* N */

.bg-light {
    background-color: black;
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* O */
.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.outline {
    margin-top: 60px;
}

/* P */
.post{
    background-color: #ffffff;  
}

.post-body-description {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    line-height: 25px;
    font-size: 1rem;
}

.post-info {
    text-align: center;
    margin-bottom: 20px ;
}

.post-info-date {
    color: #808080;
    font-size: 0.8rem;
}

.post-info-title {
    font-size: 3.2rem;
}

.post-options-button {
    color: #000000;
    display: flex;
    align-items:center;
    border-radius: 0px;
}

.post-options-button:hover {
    background-color: #ffebd6;
}

.post-options-comment {
    background-color: #79ff96;
}

.post-options-follow {
    background-color: #b7b7f8;
}   

.post-options-like {
    background-color: #fc7c7c;
}

.post-options-profile {
    background-color: #ffcb90;
}

.post-options-view {
    background-color: #ffff80;
}

.post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Q */


/* R */


/* S */
.stars_Guide {
    margin-right : 150px;
}

/* T */
.table_Header {
    font-weight: 400;
}

.table_Item {
    font-weight: 300;
}

/* U */
.user-pfp {
    width: 32px;
    height: 32px;
}
.user_Name {
    display: inline-flex;
}

/* V */


/* W */


/* X */


/* Y */


/* Z */


/* OTHER */

