/* ORDER CSS ELEMENTS ALPHABETICALLY (please)
    Otherwise, store under 'OTHER' */
/* A */


/* B */
.button-label {
    margin-left: 6px;
}

/* C */
.create-guide-header {
    position: relative;
    left: 46.25%;
    top: 100px;
    font-size: x-large;
    color: white;
    border-radius: 5px;
    width: 150px;
    background-color: #8400ff;
    border: 2px solid #8400ff;
    text-align: center;
}

.cg_title {
    position: relative;
    width: 300px;
    top: 15%;
    left: 25%;
    border-radius: 5px;
    border: 2px solid #8400ff;
}

.cg_desc {
    position: relative;
    height: 90px;
    width: 300px;
    left: 25%;
    bottom: 30px;
    border-radius: 5px;
    border: 2px solid #8400ff;
}

.cg_ingredients {
    position: relative;
    height: 42px;
    width: 150px;
    left: 25%;
    bottom: 60px;
}

.cg_type {
    position: relative;
    height: 37px;
    width: 100px;
    left: 105%;
    bottom: 37px;
    background: #8400ff;
    border-radius: 12px;
    color: white;
    border: 2px solid #000000;
    text-align: center;
}

.cg_amount {
    position: relative;
    height: 30px;
    width: 205px;
    bottom: 30px;

}

.cg_inst {
    position: relative;
    width: 800px;
    left: 25%;
    top: 40px;
    border-radius: 5px;
    border: 2px solid #8400ff;
}

.cg_image {
    position: relative;
    left: 45%;
    bottom: 600px;
    width: 300px;
}

.cg_btn {
    position: relative;
    height: 30px;
    width: 150px;
    left: 25%;
    border: 2px solid #000000;
    background-color: #8400ff;
    border-radius: 12px;
    font-size: 16px;
    color: white
}

.cg_post {
    position: relative;
    height: 40px;
    width: 150px;
    left: 25%;
    bottom: 200px;
    border-radius: 12px;
    font-size: 20px;
    background-color: #8400ff;
    color: white
}

/* D */


/* E */


/* F */
.feed {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.feed_page {
    background-color: #f6fdff;
}

/* G */


/* H */


/* I */
.icon {
    font-size: 1.5rem;
}

/* J */


/* K */


/* L */


/* M */


/* N */

.bg-light {
    background-color: black;
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* O */
.offcanvas-body::-webkit-scrollbar {
    display: none;
}

/* P */
.post{
    background-color: #ffffff;  
}

.post-body-description {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    line-height: 25px;
    font-size: 1rem;
}

.post-info {
    text-align: center;
    margin-bottom: 20px ;
}

.post-info-date {
    color: #808080;
    font-size: 0.8rem;
}

.post-info-title {
    font-size: 3.2rem;
}

.post-options-button {
    color: #000000;
    display: flex;
    align-items:center;
    border-radius: 0px;
}

.post-options-button:hover {
    background-color: #ffebd6;
}

.post-options-comment {
    background-color: #79ff96;
}

.post-options-follow {
    background-color: #b7b7f8;
}   

.post-options-like {
    background-color: #fc7c7c;
}

.post-options-profile {
    background-color: #ffcb90;
}

.post-options-view {
    background-color: #ffff80;
}

.post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Q */


/* R */


/* S */


/* T */


/* U */
.user-pfp {
    width: 32px;
    height: 32px;
}

/* V */


/* W */


/* X */


/* Y */


/* Z */


/* OTHER */

