<div class="login" id="login"></div>
<div class="splitBar"></div>
<div class="cancelBtn">
    <button type="button" onclick="location.href='./feed.html';" class="btn btn-block">Cancel</button>
</div>
<div class="Login-side" >
    <form>
        <h2> <div align  ></div>LOGIN</h2>
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" id="Username" placeholder="Username" class="credentialsBox">
            </div>
            <div class="form-group">
                <input type="password" id="password" placeholder="Password" class="credentialsBox">
                <input type="checkbox" id="checkbox3"><span class="noFlow">Show Password</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-block loginBtn" id="loginbutton">Login</button>
            </div>
    </form>      
</div>
<div class="Signup-side">
    <form>
        <h2>SIGNUP</h2>
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
            <input type="email" id="email" placeholder="Email" class="credentialsBox">
        </div>
        <div class="form-group">
            <input type="text" id="UsernameSignup" placeholder="Username" class="credentialsBox">
        </div>
        <div class="form-group">
            <input type="password" id="passwordSignup" placeholder="Password" class="credentialsBox">
            <input type="checkbox" id="checkbox1"> <span class="noFlow">Show Password</span>
        </div>
        <div class="form-group">
            <input type="password" id="confirm_Password" placeholder="Confirm Password" class="credentialsBox">
            <input type="checkbox" id="checkbox2"><span class="noFlow">Show Password</span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-block signupBtn" id="signup">Sign Up</button>
            <p id="notice"></p>
        </div>
    </form>
</div> 